/***************** Pseudo Classes **************/
.heading:hover {
    color: darkred;
    background-color: rgb(237, 227, 170);
}

.btn {
    height: 80px;
    width: 150px;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: blue;

    height: 120px;
    width: 200px;
}

.btn:active {
    background-color: aqua;
    height: 80px;
    width: 150px;
}

.btn:focus {
    background-color: pink;
    color: yellow;
}

input:focus {
    border: 2px solid blue;
    background-color: bisque;
}

a {
    text-decoration: none;
    color: #000;
}

a:focus {
    color: blueviolet;
    font-size: 28px;
}

/*
    "hover" is universal i.e. it can work with buttons/links
    but "focus" and "active" are not universal

    :focus  - input / links
    :active - links /  buttons
*/

/***************** Pseudo Elements **************/
.parent {
    margin: 10px;
    border: 2px solid #000;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.child {
    width: 60px;
    padding: 10px;
    margin: 10px;
    background-color: coral;
}

.parent .child:first-child {
    background-color: chartreuse;
}

.child:last-child {
    width: 100px;
    font-style: italic;
    background-color: aqua;
}

.child:nth-child(3) {
    background-color: blueviolet;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
}

.appending-data::after {
    content: ' Developer';
    color: red;
}

.appending-data::before {
    content: 'Hello ';
    color: blue;
}

.shape {
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 100%;

    margin-left: 100px;
    padding: 10px;
    background-color: rgb(42, 42, 243);

    position: relative;

    /* opacity: 0.6; */

}


.shape::before {
    height: 100px;
    width: 100px;
    border: 2px solid #000;

    padding: 10px;
    border-radius: 100%;
    background-color: darkorange;

    content: '';

    position: absolute;
    top: 0px;
    left: -90px;

    /* opacity: 0.6; */
}

.shape::after {
    height: 100px;
    width: 100px;
    border: 2px solid #000;

    padding: 10px;
    border-radius: 100%;
    background-color: rgb(13, 255, 0);

    content: '';

    position: absolute;
    top: 0px;
    right: -90px;

    /* opacity: 0.6; */
}

/* .shape,
.shape::before,
.shape::after {
    background-color: transparent;
} */

.newShape {
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 100%;

    margin-top: 50px;
    margin-left: 100px;
    padding: 10px;
    background-color: rgb(42, 42, 243);

    position: relative;
}


.newShape::before {
    height: 70px;
    width: 70px;
    border: 2px solid #000;

    padding: 10px;
    border-radius: 100%;
    background-color: darkorange;

    content: '';

    position: absolute;
    top: -30px;
    left: -50px;
}

.newShape::after {
    height: 70px;
    width: 70px;
    border: 2px solid #000;

    padding: 10px;
    border-radius: 100%;
    background-color: rgb(13, 255, 0);

    content: '';

    position: absolute;
    bottom: -30px;
    right: -30px;
}
